### Groovy ###

user.gradle
.gradle/
target/
build/
out/

*.DS_Store
*.class
*.swp
*~

.idea
*.iml
*.ipr
*.iws
.shelf

.settings/
.classpath
.project
bin/

# Github's Maven Gitignore Patterns

### Maven ###

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### Other Ignores ###

exportdb*.json
schema.sql
importdb*.json
